<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>List customers</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div id="wrapper">
    <div class="header">
      <h2>CRM - Customer Relationship Manager</h2>
    </div>
  </div>

    <div class="container">
      <div class="content">

<!--    put new button-->
        <input
          type="button"
          value="Add Customer"
          class="add-button"
          onclick="window.location.href='showFormForAdd'; return false;"
        >

<!--    add our html table here -->
        <table>
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Action</th>
            </tr>
          </thead>

<!--      loop over and print our customers-->
          <tr th:each="customer: ${customers}">
            <th th:text="${customer.firstName}" />
            <th th:text="${customer.lastName}" />
            <th th:text="${customer.email}" />
            <th>
              <a th:href="@{/customer/showFormForUpdate(customerId=${customer.id})}">Update</a>
              |
              <a
                th:href="@{/customer/delete(customerId=${customer.id})}"
                onclick="if (!(confirm('Are you sure you want to delete this customer?'))) return false"
              >
                Delete
              </a>
            </th>
          </tr>
        </table>
      </div>
    </div>
</body>
</html>